<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/assets/reset.css">
    <link rel="stylesheet" href="/public/assets/style.css">
    <title>Document</title>
</head>
<body>
    <div class="leftContainer">
        <h1>Test Code:</h1>
        <form method="POST">
            <textarea type="text" id="inputBox" name="inputBox"><%= locals.inputBox %></textarea> 
            <button type="submit" id="submitBtn">Submit</button>
        </form>
        
        <p id="textP"></p>
    </div>
    <div id="rightContainer">
        <h1>Previous Inquiries:</h1>
        <p><%= locals.inquiries %></p>
    </div>

    <!-- <script src="main.js"></script> -->
</body>
</html>